<div class="container emp-profile">
    <div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                  <% if agent.sex == 'male' %>
                    <img src="https://thumbs.dreamstime.com/b/portrait-man-cleaning-equipment-cleaning-house-30014330.jpg" class="rounded-circle w-75 h-75"/>
                  <% else %>
                    <img src="https://www.ecofcleaners.com/wp-content/uploads/2019/03/ecof-cleaners-cleaning-lady-Vancover-BC.jpg" class="rounded-circle w-75 h-75"/>
                  <% end %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                      <%= "#{agent.first_name.titleize} #{agent.last_name.titleize}" %>
                    </h5>
                    <h6>
                      <%= agent.user_type.titleize %>
                    </h6>
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
            <% if current_user.client? %>
              <div class="col-md-2">
                <%= link_to '+ Agendar Cita', new_appointment_path(agent_id: agent.id), class: 'btn btn-primary' %>
              </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work pt-4">
                  <p>Servicios</p>
                  <% if agent.abilities.empty? %>
                    <p class="text-muted">Aún no tiene servicios registrados</p>
                  <% else %>
                    <div>
                      <% agent.abilities.each do |ab| %>
                        <span class="badge badge-success"><%= ab.trait.name %></span>
                      <% end %>
                    </div>
                  <% end %>
                  <% if agent == current_user %>
                    <%= link_to '+ Añadir Servicios', new_ability_path, class: 'btn btn-outline-info badge-pill mt-2' %>
                  <% end %>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" >
                      <div class="row mb-2">
                          <div class="col-md-4">
                            <label>Zona Laboral</label>
                          </div>
                          <div class="col-md-4">
                            <span class="badge badge-warning"><%= agent.region.nil? ? 'N/D' : agent.region.name %></span>
                          </div>
                          <div class="col-md-4">
                            <% if agent == current_user %>
                              <%= link_to 'Editar', edit_user_path(current_user), class: 'btn btn-info' %>
                            <% end %>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-4">
                            <label>Horario Laboral</label>
                          </div>
                          <div class="col-md-4">
                            <% if agent.work_hours.empty? %>
                              <span>N/D</span>
                            <% else %>
                              <% agent.work_hours.each do |wh| %>
                                <div class="row">
                                  <div class="col-md-6">
                                    <label><%= wh.day.name %></label>
                                  </div>
                                  <div class="col-md-6">
                                    <label><%= wh.simple_time.hour %></label>
                                  </div>
                                </div>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="col-md-4">
                            <% if agent == current_user %>
                              <%= link_to 'Editar', availability_index_path, class: 'btn btn-info' %>
                            <% end %>
                          </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <div class="row">
                          <div class="col-md-6">
                            <label>Email</label>
                          </div>
                          <div class="col-md-6">
                            <p><%= agent.email %></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <label>Teléfono</label>
                          </div>
                          <div class="col-md-6">
                            <p><%= agent.phone %></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                          </div>
                          <div class="col-md-6">
                            <%= link_to "Editar Info", edit_user_path(current_user), class: 'btn btn-info' %>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>           
</div>