<div class="row">
  <div class="col-md-8 p-2">
    <div class="d-inline-block w-100">
      <div class="d-inline-block w-100 text-center">
        <h1>Agentes de limpieza disponibles</h1>
      </div>
      <div class="row w-100 justify-content-center">
        <% @agents.each do |agent| %>
          <div class="card w-25 mr-2 mb-2">
            <div class="row no-gutters">
              <div class="col-md-4 no-gutters justify-content-center">
                <div class="w-100">
                  <% if agent.sex == 'male' %>
                    <img src="https://thumbs.dreamstime.com/b/portrait-man-cleaning-equipment-cleaning-house-30014330.jpg" class="w-100" alt="...">
                  <% else %>
                    <img src="https://www.ecofcleaners.com/wp-content/uploads/2019/03/ecof-cleaners-cleaning-lady-Vancover-BC.jpg" class="w-100" alt="..."> 
                  <% end %>
                </div>
                <div class="d-inline-block text-center w-100 pt-2">
                  <%= link_to 'Ir a Perfil', user_path(agent), class: 'btn btn-primary' %>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= "#{agent.first_name.titleize} #{agent.last_name.titleize}" %></h5>
                  <span class="badge badge-warning"><%= agent.region.nil? ? 'N/D' : agent.region.name %></span>
                  <p class="card-text">Trabaja <%= agent.work_days_diff.count %> días a la semana en <%= agent.work_hours_detail_diff.count %> horarios distintos. </p>
                  <% agent.abilities.each do |ab| %>
                    <span class="badge badge-success"><%= ab.trait.name %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4 pr-2">
    <div class="card w-100 mr-2">
      <h5 class="card-header text-light bg-info">Filtros</h5>
      <%= search_form_for @q do |f| %>
        <div class="card-body">
          <h5 class="card-title">Días</h5>
          <p class="card-title">
            <% days_combo.each do |day| %>
              <%= check_box_tag('q[availabilities_day_id_eq_any][]', day.last ) %>
              <%= day.first %>
            <% end %>
          </p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Horarios</h5>
          <p class="card-title">
            <% hours_combo.each do |day| %>
              <%= check_box_tag('q[availabilities_simple_time_id_eq_any][]', day.last ) %>
              <%= day.first %>
            <% end %>
          </p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Servicios</h5>
          <p class="card-title">
            <% traits_combo.each do |day| %>
              <%= check_box_tag('q[abilities_trait_id_eq_any][]', day.last ) %>
              <%= day.first %>
            <% end %>
          </p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Zona</h5>
          <p class="card-title">
            <% regions_combo.each do |day| %>
              <%= check_box_tag('q[region_id_eq_any][]', day.last ) %>
              <%= day.first %>
            <% end %>
          </p>
        </div>
        <div class="card-body">
          <%= f.submit 'Filtrar', class:'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>