<div class="d-flex w-100 justify-content-center">
  <h2>Horario Laboral</h2>
</div>

<div class="w-100">
  <div class="d-flex w-100 justify-content-center">
    <div class="d-flex flex-row-reverse mb-2 w-75">
      <%= link_to "+ Añadir Horario", new_availability_path, class: 'btn badge-pill btn-outline-primary mr-4' %>
    </div>
  </div>
  <% if @availabilities.empty? %>
    <h3 class="d-flex w-100 justify-content-center text-muted">No tienes horarios laborales registrados</h3>
  <% else %>
  <div class="d-flex w-100 justify-content-center mb-2">
    <div class="d-inline-block w-75">
      <%= search_form_for(@q, url: availability_index_path, method: :get) do |f| %>
        <%= f.search_field :day_name_eq, class: 'form-control form-control-underlined w-25 d-inline-block mr-4', placeholder: "Buscar por día" %><%= f.submit 'Buscar', class:'d-inline-block btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="d-flex w-100 justify-content-center">
    <table class="table table-striped w-75">
      <thead>
        <tr>
          <th scope="col"><%= sort_link(@q, :day_name, 'Día', default_order: :desc) %></th>
          <th scope="col"><%= sort_link(@q, :simple_time_hour, 'Hora', default_order: :desc) %></th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
          <% @availabilities.each do |a| %>
          <tr>
            <td><%= a.day.name.titleize %></td>
            <td><%= a.simple_time.hour %></td>
            <td><%= button_to "Eliminar", a, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el permiso? El doctor autorizado ya no podrá acceder a la información de este paciente' }, class: 'btn btn-danger' %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>