<div class="w-100">
  <div class="d-flex w-100 justify-content-center">
    <h2>Tus Citas Agendadas</h2>
  </div>
  <% if @appointments.empty? %>
    <h3 class="d-flex w-100 justify-content-center text-muted">No tienes citas agendadas</h3>
  <% else %>
  <div class="d-flex w-100 justify-content-center">
    <table class="table table-striped w-75">
      <thead>
        <tr>
          <th scope="col">Día</th>
          <th scope="col">Hora</th>
          <th scope="col"><%= current_user.client? ? 'Agente de Limpieza' : 'Cliente' %></th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
          <% @appointments.each do |a| %>
          <tr>
            <td><%= a.schedule.strftime('%A')%></td>
            <td><%= a.availability.simple_time.hour %></td>
            <td><%= current_user.client? ? "#{a.agent.first_name.titleize} #{a.agent.last_name.titleize}" : "#{a.client.first_name.titleize} #{a.client.last_name.titleize}" %></td>
            <td><%= button_to "Eliminar", a, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar el permiso? El doctor autorizado ya no podrá acceder a la información de este paciente' }, class: 'btn btn-danger' %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>