<nav class="navbar navbar-expand-md navbar-dark bg-info">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Inicio", users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Perfil", current_user, class: 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to "Horario Laboral", availability_index_path, class: 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to "Citas Agendadas", appointments_path, class: 'nav-link'  %>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: 'nav-link'  %>
      </li>
    </ul>
  </div>
</nav>